.container {
    align-items:flex-start;
    position: fixed;
    width: 90%;
    height: 90%;
}

.color-picker-container {
    text-align: justify;
}

.board-container {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-right: 20%;
    /* margin-left: auto; */
    margin-top: -5%;
    background:blanchedalmond;
    padding-right: 10%;
}